/assets
#исключить
/protected/runtime/*
#не исключать файл
!/protected/runtime/.gitkeep
#не исключать директорию
!/protected/runtime/gii-1.1.22/
#исключить содеримое
/protected/runtime/gii-1.1.22/*
#не исключать файл
!/protected/runtime/gii-1.1.22/.gitkeep





